.cover-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
  justify-self: center;
  margin-right: 44px;
  margin-top: 150px;

  @media (min-width: 768px) {
    align-self: center;
    margin-top: 0;
    margin-bottom: 100px;
  }


    &__text {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;

      @media (min-width: 768px) {
        font-size: 64px;
        line-height: 64px;
      }
  }

  &__emoji {
    position: absolute;
    top: -40px;
    left: 100%;
    width: 54px;
    height: 54px;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    align-self: start;
  }

  &__logo {
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;

    @media (min-width: 768px) {
      height: 66px;
      width: 66px;
    }

    &:hover {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;


      @keyframes gradient {
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0 50%;
        }
      }
    }
  }
}