@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
}

